@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(47, 88%, 63%);
  font-family: "Figtree", sans-serif;
}

.card {
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0, 0%, 100%);
  padding: 16px;
  width: 18rem;
  border-radius: 15px;
  box-shadow: 9px 11px 0px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 9px 11px 0px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 9px 11px 0px -4px rgba(0, 0, 0, 1);
}
.card::after {
  width: 100%;
  height: 10px;
  top: 0;
  right: 0;
}
.card-top {
  border-radius: 6px;
  width: 100%;
}
main h1 {
  background: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  margin: 10px 0;
  font-weight: 800;
}
main h2 {
  font-size: 0.8rem;
  margin: 10px 0;
  color: hsl(0, 0%, 50%);
}

main h3 {
  margin: 15px 0;
}
h3:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
.text-content {
  font-size: 0.85rem;
  line-height: 20px;
  color: hsl(0, 0%, 50%);
}
footer {
  display: flex;
  align-items: center;
  margin: 20px 0 7px 0;
}
footer img {
  width: 25px;
  margin-right: 7px;
}
footer p {
  font-size: 0.8rem;
  font-weight: 800;
}
